<meta charset="utf-8" />
<title>Educo Multipurpose Responsive HTML Template</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description"  content="Educo"/>
<meta name="keywords" content="Educo, html template, Education template" />
<meta name="author"  content="Kamleshyadav"/>
<meta name="MobileOptimized" content="320" />

<!--srart theme style -->
<link href="../assets/css/main.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../assets/css/loading.css">
<!-- end theme style -->
<!-- favicon links -->
<link rel="shortcut icon" type="image/png" href="../assets/images/header/favicon.png" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/loading.js"></script>


<script src="../assets/js/userresources.js"></script>