/* style done on dashboard are as follows*/
.ed_header_top p {
    margin: 0px;
    width: 50%;
    float: left;
    text-transform: capitalize;
}
.ed_header_bottom {
    width: 100%;
    float: left;
    background-color: #cbeff5;
}
.ed_pagetitle ul.breadcrumb li:last-child a {
    color: #98f3ea;
    cursor: pointer;
}

/* style done on login are as follows*/
.ed_toppadder40 {
    padding-top: 0 !important;
}
img.login-pix {
    max-width: 30% !important;
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
}