<meta charset="utf-8" />
<title>osigla training</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description"  content="Educo"/>
<meta name="keywords" content="Educo, html template, Education template" />
<meta name="author"  content="Kamleshyadav"/>
<meta name="MobileOptimized" content="320" />

<!--srart theme style -->
<link href="../assets/css/main.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../assets/css/loading.css">
<link rel="stylesheet" href="../assets/css/newstyle.css">
<!-- end theme style -->
<!-- favicon links -->
<link rel="shortcut icon" type="image/png" href="../assets/images/header/favicon.png" />
