<div class="ed_header_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>welcome to our new session of education</p>
                <div class="ed_info_wrapper">
                    <a href="#" id="login_button">Logout</a>
                        
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ed_header_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="educo_logo"> <a href="index-2.html"><img src="../assets/images/header/Logo.png" alt="logo" /></a> </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="edoco_menu_toggle navbar-toggle" data-toggle="collapse" data-target="#ed_menu">Menu <i class="fa fa-bars"></i>
                </div>
                <div class="edoco_menu">
                    <ul class="collapse navbar-collapse" id="ed_menu">
                        <li><a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="index2.html">home-2</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">about us</a></li>
                        <li><a href="#">blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">blog-large</a></li>
                                <li><a href="blog_med.html">blog-medium</a></li>
                                <li><a href="blog_single.html">blog-single</a></li>
                            </ul>
                        </li>
                        <li><a href="#">events</a>
                            <ul class="sub-menu">
                                <li><a href="events.html">all events</a></li>
                                <li><a href="event_single.html">events-single</a></li>
                            </ul>
                        </li>
                        <li><a href="#">courses</a>
                            <ul class="sub-menu">
                                <li><a href="courses.html">all courses</a></li>
                                <li><a href="course_sidebar.html">course-sidebar</a></li>
                                <li><a href="course_single.html">course-single</a></li>
                                <li><a href="course_lesson.html">course-lesson</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="instructor.html">all instructor</a></li>
                                <li><a href="instructor_dashboard.html">instructor dashboard</a></li>
                                <li><a href="dashboard.html">student dashboard</a></li>
                                <li><a href="become_teacher.html">Become teacher</a></li>
                                <li><a href="pricing_table.html">pricing table</a></li>
                                <li><a href="cart.html">cart</a></li>
                                <li><a href="checkout.html">checkout</a></li>
                                <li><a href="purchase_course.html">purchase course</a></li>
                                <li><a href="not_found.html">404 error</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="educo_call"><i class="fa fa-phone"></i><a href="#">1-220-090</a></div>
            </div>
        </div>
    </div>
</div>